@model Lab14.Models.Categories

@{
    ViewBag.Title = "Eliminar Categoria";
}

<h2>Delete</h2>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">
        @Html.DisplayNameFor(model => model.CategoryID)
    </label>
    @Html.EditorFor(model => model.CategoryID, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">
        @Html.DisplayNameFor(model => model.CategoryName)
    </label>
    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">
        @Html.DisplayNameFor(model => model.Description)
    </label>
    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

</div>

@using (Html.BeginForm())
{
    <div class="col-auto">
        <input type="submit" class="btn btn-danger mb-3" value="Delete" />
    </div>
}

<div>
    @Html.ActionLink("Retornar al Index", "Index")
</div>