@model IEnumerable<Lab14.Models.Products>

@{
    ViewBag.Title = "Details";
}


<h2>Index</h2>
<p>
    <!-- HIPERVINCULO (NOMBRE,METODO) --> 

    @Html.ActionLink(
    linkText: "Crear Nuevo Producto",
    actionName: "Create",
    controllerName: "Products",
   routeValues: null,
    htmlAttributes: null
    )

</p>
<table class="table table-dark table-striped">
    <tr>
        <th>
            <!-- CABECERA DE LA LISTA -->
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th>

        </th>
    </tr>

    <!-- RECORRE CADA ENTIDAD DE LA COLECCION -->
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SupplierID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QuantityPerUnit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitsInStock)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitsOnOrder)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReorderLevel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Discontinued)
    </td>


    <td>
        <!-- HIPERVINCULO (NOMBRE,METODO) -->
        @Html.ActionLink(
        linkText: "Editar",
        actionName: "Edit",
        controllerName: "Products",
        routeValues: new { id = item.ProductID },
        htmlAttributes: null
        )|
        @Html.ActionLink(
        linkText: "Borrar",
        actionName: "Delete",
        controllerName: "Products",
        routeValues: new { id = item.ProductID },
        htmlAttributes: null
        )
    </td>
</tr>
    }

</table>



