@model Biblioteca.Models.Prestamos

@{
    ViewBag.Title = "Eliminar Prestamo";
}

<h2>Delete</h2>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">
        @Html.DisplayNameFor(model => model.IdPrestamo)
    </label>
    @Html.EditorFor(model => model.IdPrestamo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })

</div>


<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">
        @Html.LabelFor(model => model.IdUsuario)
    </label>
    @Html.EditorFor(model => model.IdUsuario, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.IdUsuario)
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">
        @Html.LabelFor(model => model.FecPrestamo)
    </label>

    @Html.EditorFor(model => model.FecPrestamo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.FecPrestamo)
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">
        @Html.LabelFor(model => model.FecDevolucion)
    </label>
    @Html.EditorFor(model => model.FecDevolucion, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.FecDevolucion)
</div>


@using (Html.BeginForm())
{
    <div class="col-auto">
        <input type="submit" class="btn btn-danger mb-3" value="Delete" />
    </div>
}

<div>
    @Html.ActionLink("Retornar al Index", "Index")
</div>